@page "/moex-bonds"

<h3>Bonds</h3>

<PerspectiveGrid Height="800px"
                 DataEndpoint="bff/moex-iss/bonds"
                 DetailsEndpoint="/moex-bonds-trades"
                 TableName="Bonds Overview" />
