@page "/"

<PageTitle>MOEX Screener Sample</PageTitle>

<h1>MOEX Screener</h1>

<p>
    MOEX Screnner sample based on <a href="https://iss.moex.com/iss/reference">ISS API</a>
</p>

<p>
    GitHub Project <a href="https://github.com/afedyanin/vertr-moex-iss">vertr-moex-iss</a>
</p>
